# Build directories
build/
cmake-build-*/

# Executáveis
*.exe
*.out
*.app

# Arquivos de objeto
*.o
*.obj

# Arquivos de biblioteca
*.lib
*.a
*.so
*.dylib
*.dll

# Cache do CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE files
.vscode/
.vs/
*.vcxproj*
*.sln

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*~
*.swp
*.tmp/installer/_raylib_temp/
/installer/*.zip
installer.zip
